# 用于清理缓存，还原文件

^https?:\/\/mm-staticweb\.s3\.amazonaws\.com\/MarketVersions\/KoreaLiveMarketVersion\.xml url script-response-body MapleStoryM/Clear.js
^http?:\/\/maplemkorea.dn.nexoncdn.co.kr\/AppStore\/.*(?=_1\/).*@mmb url script-echo-response MapleStoryM/Clear.js
^http?:\/\/maplemkorea.dn.nexoncdn.co.kr\/AppStore\/((?!_1\/).)*AssetBundle_table.xml url script-response-body MapleStoryM/Clear.js