^http:\/\/maplemkorea.dn.nexoncdn.co.kr\/AppStore\/.*?AssetBundle_table.xml url script-response-body https://raw.githubusercontent.com/MapleRen/MapleStoryM-language/master/Kor/Script/Base.js
^http:\/\/maplemkorea.dn.nexoncdn.co.kr\/AppStore\/.*?(data.bin.lan.kor.tbl|data.table.unity3d) url script-echo-response https://raw.githubusercontent.com/MapleRen/MapleStoryM-language/master/Kor/Script/Base.js