

^https?:\/\/mm-staticweb\.s3\.amazonaws\.com\/MarketVersions\/KoreaLiveMarketVersion\.xml url script-response-body https://raw.githubusercontent.com/MapleRen/MapleStoryM-language/master/Kor/Script/maplemCN.js


^http?:\/\/maplemkorea.dn.nexoncdn.co.kr\/AppStore\/.*(?=_1\/).*@mmb url script-echo-response https://raw.githubusercontent.com/MapleRen/MapleStoryM-language/master/Kor/Script/maplemCN.js
^http?:\/\/maplemkorea.dn.nexoncdn.co.kr\/AppStore\/.*?(data.bin.lan.kor.tbl|data.table.unity3d|data.language_kor.unity3d) url script-response-header https://raw.githubusercontent.com/MapleRen/MapleStoryM-language/master/Kor/Script/maplemCN.js

^http?:\/\/maplemkorea.dn.nexoncdn.co.kr\/AppStore\/((?!_1\/).)*AssetBundle_table.xml url script-response-body https://raw.githubusercontent.com/MapleRen/MapleStoryM-language/master/Kor/Script/maplemCN.js
