{
    "LatestVersion":"149_1725Q",
    "FileVersion":"1",
    "data.bin.lan.kor.tbl":{
        "Version":"1",
        "Size":"4916235"
    },
    "data.table.unity3d":{
        "Version":"1",
        "Size":"846563"
    },
    "data.language_kor.unity3d":{
        "Version":"1",
        "Size":"2890835"
    },
}