# 过锁区
hostname = m-api.nexon.com

^https://m-api.nexon.com/sdk/enterToy.nx url script-response-body https://raw.githubusercontent.com/MapleRen/MapleStoryM-language/master/Global/QuantumultX/msmUnBlock.js


^http:\/\/nxm-maplemjp.dn.nexoncdn.co.kr\/Japan\/AppStore\/.*?AssetBundle_table.xml url script-response-body https://raw.githubusercontent.com/MapleRen/MapleStoryM-language/master/JP/Script/Base.js
^http:\/\/nxm-maplemjp.dn.nexoncdn.co.kr\/Japan\/AppStore\/.*?(data.bin.lan.jpn.tbl|data.table.unity3d) url script-echo-response https://raw.githubusercontent.com/MapleRen/MapleStoryM-language/master/JP/Script/Base.js